
.main-title {
    align-self: center;
    font-family: "Bitcount Prop Single", sans-serif;
    color: white;
    font-size: 3.5rem;
}

.blog-container {
    font-family: "Bitcount Prop Single", sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    padding-left: 2rem;

    background-image: url('../assets/fondoBlog.webp');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.articles-container {
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
}

.platzi-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    
    height:65vh;
    width: 25vw;

    border-radius: 10px;
    background-color: rgba(10, 15, 30, 0.759);
}

.card-img-container {
    justify-self: center;
    height: 31vh;
    width: 21vw;
    margin-top: 25px;
}

.card-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 3px white;
}

.card-title {
    text-align: center;
    margin-top: 25px;
    font-size: 1.75rem;
    color: white;
}

.card-subtitle {
    margin-top: 15px;

    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.text-container {
    display: flex;
    flex-direction: column;
}